* {
    padding: 0;
    margin: 5px;
}

body {
    width: auto;
    background-color: rgb(194, 204, 204);
}

header {
    background-color: rgb(110, 38, 38);
    height: 8vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: black;
    color: white;
}

.container{
    width: 100%;
    min-height: 80vh;
}

.container .courses {
    padding: 15% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bottom {
    position: sticky;
    height: 80px;
    background-color: rgb(110, 38, 38);
    color: white;
    bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.bottom .items {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bottom .items .main_icons {
    padding: 20px 0;
}

.bottom .items .data {
    padding: 12px 0;
}

#btm_icons {
    display: flex;
    flex-direction: row;
}